@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*body {
    filter: brightness(0.4);
    background-color: #575656;
}
body {
    background-color: rgb(41, 40, 40);
    filter: opacity(0.3);
}*/

.Destaque {
    margin: 0em 2em 0em 2em;
    display: flex;
    justify-content: space-evenly;
}

.Destaque .TextoSobre {
    background-color: #dedddb;
    width: 600px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #00000065;
}

.Destaque .TextoSobre .containerTextoSobre {
    padding: 1em 1em 1em 1em;
}

.Destaque .TextoSobre .containerTextoSobre h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: #0056eb;
}

.Destaque .TextoSobre .containerTextoSobre h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding: 0px 30px;
    color: #009FFF;
    margin: 0em 0em 1em 0em;
}

.Destaque .TextoSobre .containerTextoSobre p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

@keyframes slides {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.Destaque .CarroselImagens {
    background-color: #ffffff;
    overflow: hidden;
    height: 657px;
    width: 500px;
    white-space: nowrap;
    border-radius: 15px;
}

.Destaque .CarroselImagens:hover .containerCarrosel {
    animation-play-state: paused;
}

.Destaque .CarroselImagens .containerCarrosel {
    display: inline-block;
    animation: 50s slides infinite linear;
}

.Destaque .CarroselImagens .containerCarrosel img {
    max-width: none;
    display: inline-block;
    height: 657px;
    transition: filter 0.3s ease-in-out;
}


.Destaque .CarroselImagens .containerCarrosel img:hover {
    filter: brightness(0.8);
}



.Cursos > h1 {
    font-family: 'Montserrat', sans-serif;
}

.cardCursos > .cardTitle h1, p{
    font-family: 'Montserrat', sans-serif;
}

.cardContent button {
    font-family: 'Roboto', sans-serif;
}

.cardInfo div p span {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}





.PopUp {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    justify-content: center;
    align-items: center;
}

.PopUp h1, p {
    font-family: 'Montserrat', sans-serif;
}

.PopUp p > span {
    font-weight: bold;
} 

.PopUp-Close {
    cursor: pointer;
}






@media (max-width:1169px) {
    .Destaque .TextoSobre {
        border-radius: 15px 0px 0px 15px;
    }

    .Destaque .CarroselImagens {
        border-radius: 0px 15px 15px 0px;
    }
}

@media (max-width:1024px) {
    .Destaque {
        display: block;
    }

    .Destaque .TextoSobre {
        width: 100%;
    }

    .Destaque .TextoSobre .containerTextoSobre p {
        font-size: 1.1rem;
    }

    .Destaque .CarroselImagens {
        margin: 2em auto;
        width: auto;
        border-radius: 15px;
    }
}

@media (max-width:425px) {
    .cardCursos {
        margin: 0em 2em;
        width: auto;
    }

    .PopUp-Content {
        margin: 0em 2em;
        width: auto;
    }

    .PopUp-Info input {
        width: 7em;
    }
}


